/*  font-family: 'DM Serif Text', serif;
    font-family: 'Lexend Deca', sans-serif; */



body {
    margin: auto;
	margin-bottom: 60px;
    width: 80%;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
	padding: 0;
}

h1 {
    color: #333;
	font-size: 2.3em;
}

h2 {
    /* font-family: 'DM Serif Text', serif; */
    font-size: 2em;
    text-align: left;
    margin: 0;
}

h3{
    font-size: 3em;
    text-align: left;
    margin:0;
	line-height: 1.1;
	letter-spacing: -.3px;
	font-weight: 400;
}

h4 {
	font-size: 1.4em;
	margin: 0 0 1vw 0;
	font-weight: 200;
	font-style: italic;
	line-height: 1.6;
	letter-spacing: -.3px;
}

p {
	font-size: 1.4em;
	margin-top: 0;
	margin-bottom: 1vw;
}

.projectLabel{
	margin: 4vw;
}

.projectLabel > p{
	font-size: 1.3em;
	font-weight: 300;
}

.header {
	width: 100%;
	max-width: 1600px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: baseline;
}

.work {
	width: 15%; 
	text-align: right;
	font-size: 1.2em;
	margin-left: .5%;
	order: 2;
	font-weight: 300;
}

.name {
	width: 80%;
    font-family: 'DM Serif Display', serif;
    text-align: left;
	order: 1;
}

.name-img {
	width: 70%;
  	order: 1;
}

.name-img >img{
	width: 10%;
	order: 1;
	margin-top: 1em;
}

.about {
	width: 8%; 
	text-align: right;
	font-size: 1.2em;
	margin-right: .5%;
	order: 3;
	font-weight: 300;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: none;
    color: #ababab;
}

.header p {
    font-size: 1em;
    line-height: 1.4em;
    color: #333;
}

.port {
	width: 100%;
	max-width: 1600px;
    display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 1em 0 0 0 0;
}

.projectWide {
    overflow: hidden;
    height: 35vw;
    width: 63%;
    margin: 1% 0;
}

.projectThin {
    overflow: hidden;
    height: 35vw;
    width: 30.75%;
    margin: 1% 0;
}

.description {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index: 2;
	font-size: 1em;
}

.description > p {
	padding: 0 .5rem;
	margin: 0 auto;
	color: #333;
	font-weight: 300;
}

.description > img {
	width: 20px;
	margin-bottom: 8px;
}

.type {
	font-size: .75rem;
	font-style: italic;
	color: #333;
}

.project {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100;
}

.project > img {
	opacity: 1;
}

.projectDesc {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	position: absolute;
	background: 0 0;
	transition: .3s ease background-color;
}

.projectDesc:hover {
	background-color: rgba(255, 255, 255);
	cursor: pointer;
}

.descWrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	opacity: 0;
	transition: .3s ease opacity;
	background: 0 0;
}

.descWrapper:hover {
	opacity: 1;
}

.foot {
	margin-top: 3%;
}

.foot p{
	font-size: 1.1em;
	text-align: center;
	margin-bottom: 0;
	margin-top: 0%;
	font-weight: 300;
}

.project > img, .projectImgs > img {
	width: 100%;
	max-width: 1600px;
	height: auto;
	align-content: center;
}

#brandImgs{
	width: 100%;
	max-width: 1600px;
    display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

#adVideo{
	width: 37%;
}

#adImg {
	width: 61%;
}

#socialVideo{
	width: 30%;
}

#socialImg {
	width: 68%;
}


/*about page*/
#aboutSec {
	max-width: 1600px;
	margin-bottom: 3%;	
}

#aboutCenter {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.aboutImage > img{
	width: 100%;
}

.aboutImage {
	width: 60%;
}

.aboutBody > img{
	width: 15%;
}

.aboutBody {
	width: 60%;
    margin: 2%;
	font-weight: 200;
	letter-spacing: -.3px;
	line-height: 2em;
}
/*about page*/


div.video{
	position: relative;
	padding-bottom: 54%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-frame{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}



@media only screen and (max-width:960px) {
	
	h3 {
		font-size: 2em;
	}
	
	h4 {
		font-size: 1.1em;
	}
	
	.projectLabel > p{
		font-size: 1em;
	}
	/*about page*/

	.aboutImage > img{
		width: 100%;
	}

	.aboutImage {
		width: 60%;
	}

	.aboutBody > img{
		width: 20%;
	}

	.aboutBody {
		font-size: .9em; 
	}

	.about {
		font-size: 1em;
	}
	
	.work {
		font-size: 1em;
	}
}

/* @media only screen and (max-width:960px) {
	.header {
		flex-flow: row wrap;
	}
	h1 {
		margin: .2rem 0;
		font-size: 2.5em;
	}
	.work {
		order: 2;
		width: auto;
		margin: 1rem 0;
	}
	.name {
		order: 1;
		width: 100%;
		margin: 1rem 0;
	}
	.about {
		order: 3;
		width: auto;
		margin: 1rem 0;
	}
} */

@media only screen and (max-width:760px) {
	body {
		width: auto;
		padding: 0rem 2rem;
		margin: 0 auto;
	}

	.name {
		line-height: .8;
	}
	
	
	.projectThin {
		width: 48%;
		height: 58vw;
	}
	.projectWide {
		width: 100%;
		height: 58vw;
	}
	.projectDesc {
		display: none;
	}

	#adImg {
		width: 100%;
	}
	
	#adVideo{
		width: 100%;
		margin-top: 2%;
	}
	
	#socialVideo{
		width: 100%;
		margin-top: 2%;
	}

	#socialImg {
		width: 100%;
	}


}

@media only screen and (max-width:590px) {
	body {
		width: auto;
		padding: 1rem;
		margin: 0;
	}

	
 	.header {
		flex-flow: row wrap;
		margin: 0;
		padding: 0;
	}
	
	.port {
		margin: 0 3px;
	}

	.work {
		order: 2;
		margin: .5rem 0;
		width: 50%; 
		text-align: center;
		font-size: 1em;
	}

	.name-img {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}

	.name-img >img{
		width: 20%;
		line-height: 0;
		padding: 0;
		margin: 0;
		min-width: 50px;
		max-width: 80px;
	}

	.about {
		width: 50%; 
		text-align: center;
		font-size: 1em;
		order: 3;
		margin: .5rem 0;
	}
	
	
	h1 {
		margin: 0;
		line-height: 1;
		font-size: 2em;
	}
	
	
	h3 {
		font-size: 1.8em;
	}
	
	h4 {
		font-size: 1em;
	}
	
	
	#aboutSec {
		margin-bottom: 3%;
		padding-left: 5%;
		padding-right: 5%;
	}

	#aboutCenter {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}

	.aboutImage > img{
		width: 100%;
		min-width: 100px;
	}

	.aboutImage {
		width: 100%;
	}

	.aboutBody > img {
		width: 30%;
		min-width: 50px;
	}
	
	.aboutBody {
		width: 100%;
		margin: 5% 3%; 
		font-size: .8em;
	}

/*
	.projectThin {
		width: 49%;
		height: 52vw;
	}
	.projectWide {
		width: 100%;
		height: 52vw;
	}
*/

}
